* {
    margin: 0;
    padding: 0;
}

/* 1st parallax's height, width and background color */
.parallax-1 {
    width: 100%; 
    height: 570px; /* height of bakground pic */
    background: url('city.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-1 h2 {
    margin: auto;
    position: relative;
    left: 5px;
    top: 250px;     /* up and down the data present in black border*/
    width: 350px;   /* width of black border */
    height: 33px;   /* height of black border */
    padding: 5px;
    background-color: #252525;
    color: #F8F0E3; /* off white */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2:hover{
    font-weight: bolder;
    font-style: oblique;
}
/* content at the end */
.para-1 { 
    padding: 10px;
    background-color: #252525;
    color: white;
    font-size: 17px;
    text-align: center;
}

/* 2nd parallax */
.parallax-2 {
    width: 100%; 
    height: 570px;
    background: url('taxi.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-2 h2 {
    margin: auto;
    position: relative;
    right: 350px;
    top: 120px;
    width: 350px;
    height: 30px;
    padding: 5px;
    background-color: #252525;
    color: #F8F0E3;
    text-align: center;
}
/* content at the end */
.para-2 {
    padding: 10px;
    background-color: #252525;
    color: white;
    font-size: 17px;
    text-align: center;
}

/* 3rd parallax */
.parallax-3 {
    width: 100%; 
    height: 610px;
    background: url('timesquare.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-3 h3{
    margin: auto;
    position: relative;
    left: 5px;
    top: 250px;
    width: 500px;
    height: 27px;
    padding: 5px;
    background-color: #252525;
    color: white;
    text-align: center;
    font: italic 1.2em "Fira Sans", serif;
}
h3:hover{
    font-weight: bolder;
    font-style: oblique;
}

/* 4th parallax */
.parallax-4 {
    width: 100%;
    height: 570px;
    background: url('ni.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-4 h2 {
    margin: auto;
    position: relative;
    right: 400px;
    top: 200px;
    width: 200px;
    height: 33px;
    padding: 5px;
    background-color: #252525;
    color: white;
    text-align: center;
    font-style: oblique;
    font: italic 1.5em "Fira Sans", serif;
}
h2:hover{
    font-weight: bolder;
}
.para-4 {
    padding: 10px;
    background-color: #252525;
    color: white;
    font-size: 17px;
    text-align: center;
}
